@model Project



<tr>
    <td>@Model.Bookid</td>
    <td>@Model.Title</td>
    <td>@Model.Author_FirstName</td>
    <td>@Model.Author_MiddleName</td>
    <td>@Model.Author_LastName</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>$@Model.Price</td>
    <td>@Model.Pages</td>
    <td>
        <form id="@Model.Bookid" asp-page="/Donate" method="post">
            <input type="hidden" asp-for="Bookid" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" class="btn-dark btn-sm pull-right text-center" style="float:right">AddToCart</button>
        </form>
    </td>
</tr>